$primary-color: #3744bd;
$btn-background-active: #f0f3f5;
$btn-text-color-active: #4f4f4f;
$btn-text-color: #bbbbbb;
$text-color-gray: #c4cacb;

$marker-green: #62d2b1;
$marker-red: #e34040;
$marker-yellow: #ffcc40;

$text-color-primary: #1e1e1e;
$text-color-secondary: #bbbbbb;

$gray: #e9ecf2;
$highlight-gray: #f3f5f7;

$menu-hover: #e3f3ff;

$btn-red: #eb5757;
