.filters {
  font-size: 18px;
  margin-bottom: 50px;

  &__container {
    display: flex;
  }

  &__categories {
    display: flex;
    margin-left: auto;
  }
  &__btn {
    outline: none;
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: transparent;
    color: $btn-text-color;
    display: block;

    padding: 15px 28px;

    cursor: pointer;

    &--active {
      background-color: #f0f3f5;
      color: $btn-text-color-active;
    }

    &--calendar {
      background-color: #f0f3f5;
      color: #3744bd;
      position: relative;
      .calendar {
        z-index: 5;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 55px;
        width: 462px;
        min-height: 472px;
        background-color: #fff;
        box-shadow: 0px 7px 30px rgba(148, 156, 160, 0.08);
        border-radius: 10px;
        padding: 35px 53px;

        &__table {
          display: flex;
          flex-direction: column;
        }

        &__body {
          margin-bottom: 50px;
        }

        &__row {
          display: flex;
        }

        &__week-day {
        }

        &__cell {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          margin-right: 8px;
          margin-bottom: 8px;
          color: #444;

          &:last-child {
            margin-right: 0;
          }

          &--today {
            background-color: $primary-color;
            border-radius: 50%;
            color: #fff;
          }
        }

        &__progress-bar {
          display: block;
          box-sizing: border-box;
          border: 1px solid #fff;
          width: 20px;
          height: 6px;
          border-radius: 10px;
          background-color: $marker-green;

          &--done {
            background-color: $marker-green;
          }

          &--in-progress {
            background-color: $marker-yellow;
          }

          &--missed {
            background-color: $marker-red;
          }
        }
        .legend {
          color: #898989;

          &__row {
            display: flex;
            justify-content: center;
          }

          &__cell {
            display: flex;
            align-items: center;
          }
          &__icon {
            width: 20px;
            height: 6px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
