.menu {
  position: relative;
  display: flex;
  margin-left: auto;
  &__more-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
  }

  &__list {
    box-sizing: border-box;
    position: absolute;
    list-style-type: none;
    min-width: 169px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
    left: -139px;
    top: 20px;
    cursor: pointer;
    filter: drop-shadow(0px 7px 30px rgba(148, 156, 160, 0.08));
  }

  &__item {
    box-sizing: border-box;
    padding: 16px 32px;

    &:hover {
      background-color: $menu-hover;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
