.sync {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__btn {
    display: block;
    position: relative;
    cursor: pointer;

    &--input {
      position: absolute;
      left: -999999999px;
      display: block;
    }

    &--checkmark {
      display: block;
      width: 28px;
      height: 16px;
      background-color: #c4cacb;
      border: none;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      user-select: none;
    }

    &--pointer {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: 2px;
      top: 3px;
      transition: all 0.15s ease;
    }

    & .sync__btn--input:checked ~ .sync__btn--checkmark {
      background-color: $primary-color;
    }

    & .sync__btn--input:checked ~ .sync__btn--pointer {
      left: 14px;
    }
  }

  &__calendar {
    margin-left: auto;
  }

  &__events {
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    box-sizing: border-box;
    padding-top: 28px;
    padding-left: 40px;
    min-height: 168px;
    background-color: $highlight-gray;
    border-radius: 10px;
    position: relative;

    &--text {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 76px;
      border-radius: 1px;
      background-color: #75e1f9;
      left: 0;
      top: 45px;
    }
  }
}
